/*
File:	page.css
Author:	Robert L Walton <walton@acm.org>
Date:	Thu Jan 11 20:47:57 EST 2024

The authors have placed RECKON (its files and the
content of these files) in the public domain; they
make no warranty and accept no liability for RECKON.
*/

@media screen {
    :root {
	width: 800px;
	height: 800px;
	font-family: "Times New Roman", Times, serif;
	zoom: normal;
	font-size: 16pt;
    }
    pre, code {
	font-size: 14pt;
    }
    #header {
	height: 5%;
	margin: 0px;
	display: block;
    }
    #header button {
	background-color: silver;
	font-size: 1rem;
	text-align: center;
    }
    #toc {
	height: 95%;
	margin: 0px;
	display: none;
    }
    #text {
	height: 95%;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	display: block;
    }
}
@media print {
    :root {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
    }

    #header {
	display: none;
    }
}


#toc a {
    display: block;
}

h1 {
    font-size: 20pt;
    text-decoration: underline;
    text-align: center;
}
h2 {
    font-size: 18pt;
    text-decoration: underline;
}
p {
margin-left: 10px;
}
table {
    font-size: 1rem;
}
table th, table td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
}
table tr.header th {
    text-decoration: underline;
    text-align: center;
}
table tr.header {
    padding-bottom: 5em;
}
ol.steps li {
    margin-top: 10px;
}
ol.steps p {
    margin: 0px;
    margin-block-start: 1em;
    margin-block-end: 0px;
}
ul.itemize {
    list-style: none;
}
ul.itemize b {
    margin-right: 10px;
}
ul.itemize li {
    margin-left: 20px;
    text-indent: -40px;
}
ul.itemize li p {
    margin-left: 0px;
    text-indent: 0px;
}
.center {
    display: flex;
    justify-content: center;
}
